<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        
</head>
<body>

<form action="/app/addproduct" method="post" enctype="multipart/form-data">
  <div class="container">
        <input type="hidden" name= "u_id" value="<%=user%>">
 
    <h1>Add Product</h1>
   
    <hr>
    <div class="form-group">
    <label for="mob"><b>Product Name:</b></label>
    <input type="text" class="form-control" name= "pname" placeholder="name" >
</div>
<div class="form-group">
    <label for ="description" ><b>Description:</b><br></label>
    <input type="text" class="form-control" name= "desc" placeholder="Description">
    </div>
    <div class="form-group">
    <label for="faq"><b>Product FAQ:</b></label><br><br>
    <input type="file" class="form-control" placeholder="faq" name="faq"><br><br>
</div>
<div class="form-group">
    <label for="img"><b>Image</b></label><br><br>
    <input type="file" class="form-control" placeholder="Image" name="img"><br><br>
</div>
    
    
    <div class="clearfix">
        
        <a href="/app/vendor/<%=user%>"  class="btn btn-primary" >Cancel</a>
      <button type="submit" class="btn btn-primary" style="float: right;">Add Product</button>
    </div>
  </div>
</form>
<p><%=user%></p>
</body>
</html>















