<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include navigationbar.html %>
        <br><br><br><br>
        <h1>Dashboard</h1>

        <button class="btn btn-primary" data-toggle="modal" data-target="#editprofilemodal">Edit Profile</button>
        <a href="/app/home/editprofile" class="btn btn-secondary" >Edit Profile</a>
       
        <% if (currentUser.r_id==2) {%>
        <a href="/app/vendor/<%=currentUser.u_id%>"  ><button class="btn btn-secondry">Vendor Profile</button></a> <br>
            <%} else { %>
                <a href="/app/home/signupasvendor" ><button class="btn btn-secondry">Become Vendor</button></a>
                <% } %>
                <h1><%= currentUser.r_id %></h1>


<h2>Your Details</h2>
<img src="<%= user_details.img %>" alt="product image" style="height:200px;width:200px">
<h2><%= user_details.name %></h2>
<p> <%= user_details.mob%></p>

<p> <%= user_details.dob %></p>
<p> <%= user_details.gender %></p>
<p> <%= user_details.user_email%></p>
<p> <%= user_details.creation_timestamp %></p>

        <h2>Your rated / reviewed products</h2>
        <% for(var i in reviewed_products_list) { %>

        <p><%= reviewed_products_list[i].rated_by %> <%= reviewed_products_list[i].rated_by %></p>
        <p><%= reviewed_products_list[i].name %> <%= reviewed_products_list[i].image_url %></p>

        <% } %>


    </div>






    <div class="modal fade" id="editprofilemodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editprofiletitile">Edit Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/app/editprofile" method="post" enctype="multipart/form-data">
                    <div class="container">
                      <div class="form-group">
                      <label for="mob">Mobile Nunmber</label>
                      <input type="text" class="form-control" placeholder="Enter mobile no" name="mob" required>
                  </div>
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" placeholder="Enter Name" name="name">
                      </div>
                      <div class="form-group">
                      <label for="gender">Gender</label>
                      <input type = "radio" name="gender" value="f" > Female
                      <input type = "radio" name="gender" value="m"> Male
                      </div>
                      <div class="form-group">
                          
                      <label for="dob">Date Of Birth</label>
                      <input type="date" class="form-control" placeholder="yyyy/mm/dd" name="dob">
                     </div>
                     <div class="form-group">
                      <label for="user_email">Email</label>
                      <input type="email" class="form-control" placeholder="Enter Email" name="user_email">
                  </div>
                  
                       
                  <div class="form-group">
                      <label for="img">Image</label>
                      <input type="file" class="form-control"  placeholder="Image" name="img">
                  </div>
                      
                      
                  <div class="form-group">
                        <button type="button" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-primary" style="float: right;">Upadate Profile</button>
                      </div>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
              
            </div>
          </div>
        </div>
      </div>




    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<% include footer.html %>
</body>
</html>
