<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>customers_list</title>
    <style> table, th, td {
            border: 3px solid black;
            border-collapse: collapse;
            padding: 20px;
            text-align : center;
            color: rgb(225, 65, 126);
        }
    </style>
</head>
<body>


        <% include navigationbar.html %>
    <h1>ALL CUSTOMERS ARE HERE </h1> <br><br>
        <table style="border: 3px solid black">
           <tr> <th>
                <h3> NAME</h3>
            </th>
            <th>
                <h3> MOBILE </h3>
            </th>
            <th>
                <h3> IMAGE </h3>
            </th> </tr>
    <% for(var i in customers_list) { %>
           <tr><td><a href="/app/customer/<%= customers_list[i].u_id %>"><%= customers_list[i].name %> </a></td>
            <td><%= customers_list[i].mob %> </td>
           <td> <img src="<%= customers_list[i].img %>" alt="product image" style="height:100px;width:100px"> </td> </tr>
   <% } %>
    </table>
</body>
</html>
