<div class="footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright-space">
                        2018 &copy; All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

