<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body class="header-fixed header-fixed-space" >
    <div class="wrapper homePage" style="background-color:tan">
            
        <% include navigationbar.html %>

             
          

              

<h2>top 5 most reviewed products</h2>
        <% for(var i in userDetails1) { %>

        <p><h3>rated by: <%= userDetails1[i].rated_by %> Rating :<% var rat = userDetails1[i].rating %>
            <% if(!rat) rat=0; %>
            <%=rat%></h3> </p>
        <p> <%= userDetails1[i].name %> <%= userDetails1[i].image_url %></p>

        <% } %>
        <p>This is the home page and we change it.</p>

<h2>top 5 rated products</h2>
        <% for(var i in userDetails2) { %>
            <p><h3>rated by: <%= userDetails2[i].rated_by %> Rating :<% var rat = userDetails2[i].rating %>
                <% if(!rat) rat=0; %>
                <%=rat%></h3> </p>
            <p><%= userDetails2[i].name %> <%= userDetails2[i].image_url %></p>

            <% } %>
            <p>This is the home page and we change it.</p>
    
<h2>top 3 distributers</h2>
            <% for(var i in userDetails3) { %>
                <p><%= userDetails3[i].firm_name %> <%= userDetails3[i].logo %></p>
                <p><%= userDetails3[i].location %> <%= userDetails3[i].added_product %> </p>
                <% } %>
                <p>This is the home page and we change it.</p>
        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>

</body>

</html>
