<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<style>
  
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/app/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
             <li class="nav-item">
              <a class="nav-link disabled" href="#">Contactr us</a>
            </li>
          </ul>
          
          <form action="/app/search" class="form-inline my-2 my-lg-0">
                <select class ="btn btn-success dropdown-toggle" aria-labelledby="navbarDropdown" name="search">
                                       
                        <option value="Product" selected>Product</option>
                        <option value="Vendor">Vendor</option>
                      
                      </select>
                     
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <% if(!currentUser) { %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" id ="login">Login</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id="signup">Sign Up</button>
              <% } else { %>               
              <div class="dropdown">
                <button class="btn btn-success"> Welcome <%= currentUser.name %></button>
                  <div class="dropdown-content">
                      <a href="/app/customer/<%= currentUser.u_id %> ">View Profile</a>
                      <% if (currentUser.r_id==2) {%>
                        <a href="/app/vendor/<%=currentUser.u_id%>"  >Vendor Profile</a>
                            <%} else { %>
                                <a href="/app/home/signupasvendor" >Become Vendor</a>
                                <% } %>
                      <a href="/app/home/changepassword"  data-toggle="modal" data-target=".changepassword">Change password</a> 
                      <a href="/app/logout">Log out</a>
    </div>
  </div>
              
          
      <% } %>
        </div>



      </nav>

     <div id="loginmodal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
            <form class="logingform" method="POST" >
              <div class="form-group">
                  <label for="mob" >Mobile Number</label>
                  <input type="text" class="form-control" id="mobl" placeholder="Enter mobile number" name="mob" required>
             <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="pswl" placeholder="Password" name="psw" required>
              </div>
              <div id="error" class="alert alert-danger" style="display: none;">Mobile Number or Password is incorrect</div>
              <button type="submit" class="btn btn-primary" style="float: right" id="loginbtn">Login</button>
            </form>
          </div>
            <div class="modal-footer">
               
              </div>
          </div>
        </div>
      </div><!-- cd-signin-modal__block -->
   


      <div id="change_password" class="modal fade changepassword" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Change Password</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
            <form id="change_pwd_form" class="changepassword"  >
              <div class="form-group">
                  <label for="mob" >Mobile Number</label>
                  <input type="number" class="form-control" id="mobc" placeholder="Enter mobile number" name="mob" required>
             <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Old Password</label>
                <input type="password" class="form-control" id="pswco" placeholder="Password" name="password" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input type="password" class="form-control" id="pswc" placeholder="Password" name="psw" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="pswcr" placeholder="Password" name="psw_repeat" required>
              </div>
              <div id="err_change" class="alert alert-danger" style="display: none;">Please enter same password</div>
              <button type="submit" class="btn btn-primary" style="float: right" id="changepassword">Change Password</button>
            </form>
          </div>
            <div class="modal-footer">
               
              </div>
          </div>
        </div>
      </div><!-- cd-signin-modal__block -->






       
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-container">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            <form style="border:1px solid #ccc" class="form-control" id="#form">
                <div id="signuperr" class="alert alert-danger" style="display: none;">User Credenitials already exits</div>
                <div class="container">
                        <div class="form-row">
                                <div class="form-group col-md-6">                 
                  <label for="name"><b>Name</b></label>
                  <input type="text" placeholder="Enter Name" name="name" class="form-control" required id="names">
              </div>
              <div class="form-group col-md-6">
                  <label for="mob"><b>Mobile No.</b></label>
                  <input type="text" placeholder="Enter Mobile No." name="mobs"  class="form-control" required id="mobs">
                  <div id="err_mob" class="alert alert-danger" style="display: none;">Please enter valid number</div>
                </div> 
            </div>
           
            <div class="form-row">
                    <div class="form-group col-md-6">
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psws" class="form-control" required id="psws">
              </div>
              <div class="form-group col-md-6">
              
                  <label for="psw-repeat"><b>Repeat Password</b></label>
                  <input type="password" placeholder="Repeat Password" id="pswsr" class="form-control" required>
                  </div>
                  </div>
                  <div id="err" class="alert alert-danger" style="display: none;">Please enter same password</div>
                  <label for="email"><b>Email</b></label>
                  <input type="email" placeholder="Enter Email" name="email" class="form-control" id="emails">
              
                  <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
              
                  <div class="clearfix">
                    <button  class="btn btn-primary" name="SignUp" id="signupbtn" type="button"> Submit </button>
                  </div>
                </div>
              </form>
      </div>
    </div>
  </div>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="\static\scripts\lib\navigationbar.js"></script>