<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>
<br><br><br><br><br><br><br><br><br><br><br><br>
        <h1> <%= product_details.name %></h1>
        <h2> DESCRIPTION: <%= product_details.description %></h2>
        
        <img src="<%= product_details.image_url %>" alt="product_img" height="100" width="100px">
        <h4> FAQ :<%= product_details.faq %></h4>


        <h2> Average rating : <%= avg_rating %></h2>
        <br><br>
        <% var a= added %>
<%= a %>
<% var check=0,curId %>
<% if(currentUser) { %>
<% for( var i in vendors_list ) { %>
  <%  if(currentUser.u_id == vendors_list[i].u_id) { %>
            <%check=1 %>
    <% }} if(check==0) { %>
            <% if(a) { %>
        <a href="/app/product/addreview/<%=product_details.p_id%>"><button class="button" >Edit Review</button></a> <br>
        <% } else  { %>
        <a href="/app/product/addreview/<%=product_details.p_id%>"><button class="button" >Add Review</button></a> <br>
        <% } }} else { %>
    <a href="/app/home/login"><button class="button" >ADD Review</button></a> <br>
    <% } %>





        <h2>REVIEWS </h2>

        <% for( var i in user_reviews_array ) { %>
           <h3><%= user_reviews_array[i].details.name %> </h3>
            <h3>rating : <%= user_reviews_array[i].details.rating %> </h3>
            <h3> review : <%= user_reviews_array[i].details.review %> </h3>
            <h3> time : <%= user_reviews_array[i].details.creation_timestamp %> </h3>
            <h3> like <%= user_reviews_array[i].details.like %> </h3>
            <h3> dislike <%= user_reviews_array[i].details.dislike %> </h3>
            <h3> inappropriate <%= user_reviews_array[i].details.inappropriate %> </h3>
            <h3> spam <%= user_reviews_array[i].details.spam %> </h3>

            <% } %>
            <h2> VENDORS : </h2>

            <% for( var i in vendors_list ) { %>
                <h3><%= vendors_list[i].firm_name %> </h3>
                 <h3>location: <%= vendors_list[i].location %> </h3>
                 <% } %>
        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
