<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vendor</title>
    <style> table, th, td {
            border: 3px solid black;
            border-collapse: collapse;
            padding: 20px;
            text-align : center;
            color: rgb(225, 65, 126);
        }
        th {
            height: 50%;
        }
    </style>
</head>
<body>

        <% include header.html %>
    <h1>ALL PRODUCT ARE HERE </h1> <br><br>
        <table style="border: 3px solid black; width: 300px" >
           <tr> <th>
                <h3> NAME </h3>
            </th>
            <th>
                <h3> IMAGE </h3>
            </th>
            <th>
                <h3> AVERAGE RATING </h3>
            </th>
        <th>
            <h3>AVAILABLITY</h3>
        </th> </tr>
    <% for(var i in products_list) { %>
           <tr><td><a href="/app/product/<%= products_list[i].p_id %>"><%= products_list[i].name %> </a></td>
            <td><a href="/app/product/<%= products_list[i].p_id %>"><img src="<%= products_list[i].image_url %>"5 alt="product image" style="height:50px;width:50px"></a> </td>
            <% var rat = products_list[i].rating%>
            <% if(!rat) rat=0; %>
            <td><%=rat%></td>
        <td><%= products_list[i].available%></td> </tr> 
   <% } %>
    </table>
</body>
</html>
