<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/styles/star/font-awesome.css">
<link rel="stylesheet" href="/static/styles/star/style.css">
<link rel="stylesheet"
href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body class="header-fixed header-fixed-space" >
    <div class="wrapper homePage">

            <% include navigationbar.html %>
            <h1> <%= product_details.p_id %></h1>
        <h1> <%= product_details.name %></h1>
        <h2> DESCRIPTION: <%= product_details.description %></h2>
        <h3> <%= product_details.image_url %></h3>
        <h4> FAQ :<%= product_details.faq %></h4>


        <h2> Average rating : <%= avg_rating %></h2>
        
        <div id = "stars" data-val= <%=avg_rating %> > </div>
            <% var a= added %>
<!-- Trigger/Open The Modal -->
<br><br><br>
<br><br><br>
<% if(currentUser){ if(a) { %>
    
    <button id="myBtn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Edit Review</button>
    <% } else { %>
    <button id="myBtn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Add Review</button>
    <% }} else { %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" id ="login">Add Review</button>
    <% } %>
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Review <%=product_details.name %> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form class="modal-content animate" action="/app/product/addingreview/<%= product_details.p_id %>" style="border:1px solid #ccc"  method="POST">
                
                        <div class="container">
                                        <hr>
                                        <div class="form-group">
                            <label for="rating"><b>Ratings</b></label>
                            <br>
                            <fieldset class="rating">
                                <input class = "rating rating-5" type="radio" id="rating-5" name="rating" value="5" />
                                <label class = "rating rating-5" for="rating-5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4.5" />
                                <label class="rating half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" />
                                <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3.5" />
                                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" />
                                <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2.5" />
                                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" />
                                <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1.5" />
                                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" />
                                <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5" />
                                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                             </div>
                             <br><br><br>
                        <div class="form-group">
                                <label for="review"><b>Review</b></label>
                                
                                <input type="text" placeholder="Write your review here" name="review" class="form-control">
                        </div>
                          
                            
                            <div >
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" style="float: right;">Add Review</button>
                                  </div>
                        </div>
                      </form>
            </div>
            
          </div>
        </div>
      </div>


   <h2>REVIEWS </h2>

        <% for( var i in user_reviews_array ) { %>
           <h3><%= user_reviews_array[i].details.name %> </h3>
            <h3>rating : <%= user_reviews_array[i].details.rating %> <div class= "reviewstars" > <%= user_reviews_array[i].details.rating %>  </div></h3>
            
            <h3> review : <%= user_reviews_array[i].details.review %> </h3>
            <h3> time : <%= user_reviews_array[i].details.creation_timestamp %> </h3>
            <h3> like <div class= "votes" > like </div><i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color: blue; "></i>
                 <% if(user_reviews_array[i].details.like == undefined){  %> 0 
                    <% } else { %> <%= user_reviews_array[i].details.like %>
                    <% } %>  like </div>
             dislike <i class="fa fa-thumbs-down fa-2x" aria-hidden="true" style="color: grey; "></i><% if(user_reviews_array[i].details.dislike == undefined){  %> 0 
                <% } else { %> <%= user_reviews_array[i].details.dislike %>
                <% } %> 
             inappropriate <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color: brown; "></i><% if(user_reviews_array[i].details.inappropriate == undefined){  %> 0 
                <% } else { %> <%= user_reviews_array[i].details.inappropriate %>
                <% } %> 
             spam <i class="fa fa-ban fa-2x" aria-hidden="true" style="color: red; "></i><% if(user_reviews_array[i].details.spam == undefined){  %> 0 
                <% } else { %> <%= user_reviews_array[i].details.spam %>
                <% } %> 
            </h3>
            <% } %>
            <h2> VENDORS : </h2>

            <% for( var i in vendors_list ) { %>
                <h3><%= vendors_list[i].firm_name %> </h3>
                 <h3>location: <%= vendors_list[i].location %> </h3>
                 <% } %>
        <% include footer.html %>
    </div>
    <script src =  "/static/scripts/lib/printstars.js"></script>
<% include commonFooterScriptElements.html %>
</body>
</html>
