<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search</title>
    
</head>
<body>
    <% include navigationbar.html %>
    <% if(isvendor) {%>
        <% for(var i in product) { %>
            <div class="abc"> <h2><a href="/app/vendor/<%= product[i].u_id %>"><%= product[i].firm_name%>    
                <img src="<%= product[i].logo %>"5 alt="product image" style="height:50px;width:50px">        
                     <%=product[i].location%></a> </h2> </div>
          <%}%>
   <% } else { %>
    <table> <tr>
        <th>NAME</th>
        <th>IMAGE</th>
        <th>PRODUCT</th>
        <th>AVG RATING</th>
    </tr>
    <% for(var i in product) { %>
      <tr><div> <span><td><a href="/app/product/<%= product[i].p_id %>"><%= product[i].name%></a> </td>        
         <td><a href="/app/product/<%= product[i].p_id %>"><img src="<%= product[i].image_url %>"5 alt="product image" style="height:50px;width:50px"></a> </td>        
         <td><%=product[i].product_url%></td>

        <% var rat = product[i].rating%>
        <% if(!rat) rat=0; %>
        <td><%=rat%></td></span> </div></tr>
    <%}%>



        <% } %>



        <% include commonFooterScriptElements.html %>

</body>
</html>
