<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include navigationbar.html %>
</head>


<body class="header-fixed header-fixed-space">
        <% if(currentUser) { %>
            <h1><%=currentUser.u_id %></h1>
        <h1><%=vendor_details.u_id %></h1>
            <% if (currentUser.r_id==2 && currentUser.u_id==vendor_details.u_id) {%>
            <a href="/app/<%=vendor_details.u_id%>/addproduct"><button class="btn btn-primary" >ADD PRODUCT</button></a> <br>
<% }} %>

    <div class="wrapper homePage">
        <h1><%=currentUser.u_id %></h1>
        <h1><%=vendor_details.u_id %></h1>
        <h1> Name : <%= vendor_details.name %></h1>
        <h2> Firm Name <%= vendor_details.firm_name %></h2>
        <h2> Location<%= vendor_details.location %></h2>
        <h2> logo <img src="<%= vendor_details.logo %>" alt="image" style="height:200px;width:200px"></h2>
        <h2> GST No. :<%= vendor_details.gst_no %></h2>
        <h2> Pan No. :<%= vendor_details.pan_no %></h2>
        
        <h2> GST Certificate <img src="<%= vendor_details.gst_certi %>" alt="image" style="height:200px;width:200px"></h2>


        <h2>All Products </h2>    
       

        <% for( var i in vendor_products_list ) { %>
            <h3>P_id : <%= vendor_products_list[i].p_id %> </h3>
           <h3>Name : <%= vendor_products_list[i].name %> </h3>
           
            <h3>Image :<a href="/app/product/<%=vendor_products_list[i].p_id%>"><img src="<%= vendor_products_list[i].image_url %>" alt="product image" style="height:100px;width:100px"></a></h3>
            <h3> Average Rating : <%= vendor_products_list[i].avg %> </h3>
            <h3> Created on  <%= vendor_products_list[i].creation_timestamp %> </h3>
          <button id="disableproduct" class="btn btn-primary <%=  vendor_products_list[i].p_id %>"  value="<%=  vendor_products_list[i].p_id %>"  >Disable</button> <br>
       
        <script>
                $(function(){
            
            $('.<%=  vendor_products_list[i].p_id %>').on('click',function(){
                console.log($('.<%=  vendor_products_list[i].p_id %>').attr('value'));
                if('<%=vendor_products_list %>'==undefined)
                {
                    alert('no product');
              
                }
                else{
                    $.ajax({
                            url:"/app/disableproduct",
                            method:"POST",
                            data:{u_id:'<%= vendor_details.u_id %>', p_id:$('.<%=  vendor_products_list[i].p_id %>').attr('value')},
                            dataType:"text",
                            error: function (err)
                            {
                           alert('Internal server error');
                            },
                            success:function(data){
                                alert("product disabled");
                            window.location.reload();
                
                        
                        },
                            
                    });
                }
            });
            
                });
                </script>
            <% } %>

           <h2>Recently Added Product </h2>

        <% for(var i in recent_products) { %>
               <h3>Name : <%= recent_products[i].name %> </h3>
                <h3>Image : <%= recent_products[i].image_url %> </h3>
                <h3> Created on  <%= recent_products[i].creation_timestamp %> </h3>
               <% } %>

        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>

</body>
</html>
