<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vendor</title>
    <style> table, th, td {
            border: 3px solid black;
            border-collapse: collapse;
            padding: 20px;
            text-align : center;
            color: rgb(225, 65, 126);
        }
    </style>
</head>
<body>

        <% include header.html %>
    <h1>ALL VENDOR ARE HERE </h1> <br><br>
        <table style="border: 3px solid black">
           <tr> <th>
                <h3> FIRMNAME </h3>
            </th>
            <th>
                <h3> LOCATION </h3>
            </th>
            <th>
                <h3> LOGO </h3>
            </th> </tr>
    <% for(var i in vendors_list) { %>
          <tr><td> <a href="/app/vendor/<%= vendors_list[i].u_id %>"><%= vendors_list[i].firm_name %></a> </td>
            <td><%= vendors_list[i].location %> </td>
           <td> <%= vendors_list[i].logo %> </td> </tr>
   <% } %>
    </table>
</body>
</html>
