@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0;border: black; }
body{ margin: 20px; border: black;}
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: black;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.50em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  border: black;
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
  border: black;
}

.rating > label {
   
  color: #ddd; 
 float: right; 
 border: black;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: rgb(255,220,0);  border: black;} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFD700;  border: black;} 

.rating-5 > input:checked ~ label.rating:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
  border: black;
}

.rating-1 > input:checked ~ label.rating:before { color: #F62;
  border: black; }